div.hexandria__info
    div name
    div towns
div.hexandria__info.hexandria__info-first
    div #{player1Name}
    div #{player1Towns}
div.hexandria__info.hexandria__info-second
    div #{player2Name}
    div #{player2Towns}

//div.hexandria__info
//    div name
//        span.hexandria__info-first #{player1Name}
//        span.hexandria__info-second #{player2Name}
//    div towns
//        span.hexandria__info-first #{player1Towns}
//        span.hexandria__info-second #{player2Towns}
